.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6281f0; /* Green */
    padding: 1rem;
    font-weight: bold;
}

.navbar-brand a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar-links {
    margin-right: 5rem;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

.navbar-links li a:hover {
    text-decoration: underline;
}
